@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">About Us</h2>

    <p>Our products skip intermediaries and transfer the savings to customers to maximize 
    customer protection. Purchase product ingredients from the highest quality sources and 
    donate a certain amount of income to charitable organizations.</p>
    <div class="page-trans">
        @Html.ActionLink("Back Home", "Index", "Home", null, new
   {
       style = " margin-right:30px; text-decoration: none;color: rgb(133, 47, 158);font-size: 30px;font-family: Comic Sans MS; "
   })
</main>